<h1><%= @store.name %></h1>
<p>Address: <%= @store.address %></p>
<p>Phone: <%= @store.phone %></p>
<p>Deposit: <%= @store.deposit %></p>
<p>Latitude: <%= @store.lat %></p>
<p>Longtitude: <%= @store.long %></p>
<%= link_to "Back", operator_stores_path %>