<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Operator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Header -->
<header>
  <div class="logo"></div>
  <nav>
    <ul>
      <li>
        <%= link_to "Home", root_path %>
      </li>
      <% if current_operator %>
        <li>
          <%= current_operator.user_name %>
          <%= link_to "Logout", destroy_operator_session_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to "Login", new_operator_session_path %>
        </li>
      <% end -%>
        <%= link_to "English", :locale=>'en'%>
        <%= link_to "Japanese", :locale=>'ja'%>
    </ul>
  </nav>
</header>

<!-- Content -->
<div class="container">
  <div class="row">
    <% flash.each do |name, msg| %>
      <% if msg.class == Array %>
        <% msg.each do |message| %>
          <%= content_tag :div, message, :id => "flash_#{name}" %>
        <% end %>
      <% else %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
    <% end %>
    <%= yield %>
  </div>
</div>

<!-- Footer -->
</body>
</html>
