<!DOCTYPE html>
<html>
<head>
  <title>Operator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Header -->
<header>
  <!-- Logo -->
  <div class="logo"></div>
  <!-- Menu -->
  <nav>
    <ul>
      <li>
        <%= link_to "Home", root_path %>
      </li>
      <% if current_user %>
        <li>
          <%= current_user.user_name %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to "Login", new_user_session_path %>
        </li>
      <% end -%>
        <%= link_to "English", :locale=>'en'%>
        <%= link_to "Japanese", :locale=>'ja'%>
    </ul>
  </nav>
</header>
<% flash.each do |name, msg| %>
  <% if msg.class == Array %>
    <% msg.each do |message| %>
      <%= content_tag :div, message, :id => "flash_#{name}" %>
    <% end %>
  <% else %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>
<% end %>
<%= yield %>
<!-- Footer -->
</body>
</html>
