<div class="row">
	<div id="store-map"></div>
</div>

<div class="row text-center">
	<a id="nearest-point" href="">SEARCH NEAREST SHOP</a>
</div>

<script>
  function storeMap() {
  	var lat = parseFloat('<%= @store.lat %>');
  	var lng = parseFloat('<%= @store.long %>');
    var store = {lat: lat, lng: lng};
    var map = new google.maps.Map(document.getElementById('store-map'), {
      zoom: 8,
      center: store,
      mapTypeId: google.maps.MapTypeId.ROAD
    });
    var icon = {
	    url: "/images/map-marker.png",
	    scaledSize: new google.maps.Size(50, 50)
		};
    var marker = new google.maps.Marker({
      position: store,
      icon: icon,
      map: map
    });
  }

  function calcDistanceMap (fromLat, fromLng, toLat, toLng) {
    return google.maps.geometry.spherical.computeDistanceBetween(new google.maps.LatLng(fromLat, fromLng), new google.maps.LatLng(toLat, toLng));
 	}

 	$(document).ready(function() {
 		var fromLat = parseFloat('<%= @store.lat %>');
  	var fromLng = parseFloat('<%= @store.long %>');
 		var stores = '<%= @stores.html_safe %>';
 		stores = $.parseJSON(stores);
 		var data = [];
 		for(var i = 0; i < stores.length; i++) {
 			distance = calcDistanceMap(fromLat, fromLng, parseFloat(stores[i].lat), parseFloat(stores[i].long));
 			data[i] = {
 				id: stores[i].id,
 				distance: distance
 			}
 		}
 		var min = data.sort(function (a, b) {
	    return a.distance - b.distance
		})[1];
 		var path_redirect = '/<%= I18n.locale %>/user/stores/' + min.id;
 		$("#nearest-point").attr("href", path_redirect);
 		// console.log(path_redirect);
 		// window.location.replace(path_redirect + min.id);
 	});

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHfB9CrGOMGGLGwe17L9GpQVffFk9eeOM&callback=storeMap&libraries=geometry">
</script>