<h1>Kyc Paper of <%= current_user.user_name %></h1>
<%= label_tag :passport_your_self %>
<%= image_tag @kyc_paper.try(:passport_your_self_url), width: 300, class: "img-responsive" %>
<%= label_tag :passport %>
<%= image_tag @kyc_paper.try(:passport_url), width: 300, class: "img-responsive" %>
<%= label_tag :address_front %>
<%= image_tag @kyc_paper.try(:address_front_url), width: 300, class: "img-responsive" %>
<%= label_tag :address_after %>
<%= image_tag @kyc_paper.try(:address_after_url), width: 300, class: "img-responsive" %>
<%= label_tag :driver_your_self %>
<%= image_tag @kyc_paper.try(:driver_your_self_url), width: 300, class: "img-responsive" %>
<%= label_tag :driver_front %>
<%= image_tag @kyc_paper.try(:driver_front_url), width: 300, class: "img-responsive" %>
<%= label_tag :driver_after %>
<%= image_tag @kyc_paper.try(:driver_after_url), width: 300, class: "img-responsive" %>
<%= label_tag :utility_bill %>
<%= image_tag @kyc_paper.try(:utility_bill_url), width: 300, class: "img-responsive" %>
<%= link_to "Edit KYC Paper", edit_user_kyc_path(@kyc_paper.id) %>